.main {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 2.4rem;

    .part1,
    .part3 {
        flex-shrink: 0;
    }

    .part1 {
        width: 26rem;
        height: 40rem;
        background-color: var(--primary-light);
        border-radius: 2rem;
        box-shadow: 0 0 2rem 1rem var(--light-1);
        box-sizing: border-box;
        padding-top: 1.2rem;

        .avatar {
            width: 16rem;
            height: 16rem;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .nick {
            text-align: center;
            font-size: 1.6rem;
            margin-top: 1rem;
        }
    }

    .part2 {
        flex: auto;
        box-sizing: border-box;
        padding: 1.2rem 2.4rem;

        .title {
            height: 4rem;
            font-size: 2.4rem;
            font-weight: 500;
        }
    }

    .part3 {
        width: 20rem;
        height: 50rem;
        background-color: var(--primary-light);
        border-radius: 2rem;
    }
}