.msg_center {
    box-sizing: border-box;
    padding: 2rem;

    .msg_main {
        width: 100%;
        height: 100%;
        background-color: var(--primary-light);
        border-radius: 1.2rem;
        box-sizing: border-box;
        padding: 2rem;

        .msg_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 2.2rem;
                font-weight: 500;
            }

            .set {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                user-select: none;
                color: var(--text-color-ink);

                &:hover {
                    color: var(--pink);
                }
            }
        }

        .content {
            width: 100%;
            margin-top: 2rem;

            .cate_ul {
                display: flex;
                gap: 2rem;

                .cate_li {
                    height: 3.4rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    box-sizing: border-box;
                    padding: 0 1.2rem;
                    border-radius: 0.6rem;
                    background-color: var(--pink);
                    color: var(--primary-light);
                    user-select: none;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        box-shadow: 0 0 2rem 0.4rem var(--text-color-light) inset;
                    }
                }
            }
        }
    }
}