
.manage_wrap {
    background-color: transparent;

    .header {
        background-color: transparent;
    }

    .content {
        margin-top: 5rem;

        .list_item {
            justify-content: space-between;

            .confirm_btn {
                margin-left: 1rem;
            }

            .edit_btn {
                background-color: var(--button-green);

                &:hover {
                    background-color: var(--button-green-hover);
                }
            }
        }
    }

    .footer {
        background-color: transparent;
        margin-top: 5rem;
        text-align: center;
    }
}