
.manage_wrap {
    background-color: transparent;

    .header {
        background-color: transparent;
    }

    .content {
        margin-top: 5rem;

        .list_item {
            justify-content: space-between;

            .confirm_btn {
                margin-left: 1rem;
            }

            .edit_btn {
                background-color: var(--button-green);

                &:hover {
                    background-color: var(--button-green-hover);
                }
            }
        }
    }

    .footer {
        background-color: transparent;
        margin-top: 4rem;
        text-align: center;
        padding: 0;

        &.summit_wrap {
            margin-top: 2rem;

            .submit {
                width: 50%;
                max-width: 30.5rem;
            }
        }
    }
}