
.logo_img {
    height: 4rem;
    margin: 1.2rem;
    background-color: var(--light-1);
    border-radius: 0.6rem;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        user-select: none;

        img {
            height: 100%;
        }

        .logo_text {
            color: var(--text-color-light);
            margin-left: 0.5rem;
            font-family: var(--text-family-logo);
            font-size: 1.6rem;
            color: var(--blue-2);
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.show_main {
    position: relative;
    width: 100%;
    height: calc(100vh - 96px);
    overflow: hidden;

    .back_up {
        position: absolute;
        z-index: 3;
        right: 4rem;
        bottom: 4rem;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s;
        
        img {
            width: 100%;
            height: 100%;
            transition: all .3s;
        }

        &:hover {
            img {
                transform: scale(1.1);
                transition: all .3s;
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
            transition: opacity .3s;
        }
    }
}
