
.publish_wrap {
    box-sizing: border-box;
    padding: 5rem 0;
    display: flex;
    justify-content: center;

    .space {
        width: 100%;
        display: flex;

        .space_item:nth-child(1) {
            flex: auto;
        }

        .clear_btn {
            background-color: var(--button-green);
            color: var(--text-color-light);

            &:hover {
                background-color: var(--button-green-hover);
            }
        }
    }
}