:root {
    --primary-dark: #1F2328;
    --primary-light: #fff;

    --text-color-dark: rgba(0, 0, 0, .85);
    --text-color-light: rgba(255, 255, 255, .85);
    --text-color-dim: rgba(0, 0, 0, 0.45);

    --light-1: rgba(255, 255, 255, 0.12);
    
    --gray-1: #dddddd;
    --gray-2: #cacbca;
    --gray-3: rgba(230, 230, 230, 0.7); /* 苹果电脑银灰色 */

    --dark-1: #000;

    --blue-1: #27A0FF;
    --blue-2: #3699ea;

    --shadow-1: 0 0 0.6rem 0.2rem rgba(0, 0, 0, .2);
    --shadow-2: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5; /* 苹果电脑的三个点 */
}